<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
        <!-- TestNG configuration -->
<suite name="Cross Browser  Suite" thread-count="3" parallel="tests">
<test name="Registration Tests Chrome">
        <parameter name="browser" value="chrome" />
        <packages>
                <package name="ua.price" />
        </packages>
        <classes>
                <class name="ua.price.tests.MainPageTest" />
                <class name="ua.price.tests.SearchPageTest" />
                <class name="ua.price.tests.UserAccountTest" />
        </classes>
</test>
</suite>